<template>
  <div id="app">
    <img class="logo" alt="Vue logo" src="./assets/vue-logo.png">
    <img class="logo" alt="Express logo" src="./assets/express-logo.jpeg">
    <img class="logo" alt="MongoDB logo" src="./assets/mongodb-logo.png">
    <h1>FaPra CSCW Example App</h1>
    <h2>A simple blog</h2>
    <PostComponent/>
  </div>
</template>

<script>
import PostComponent from './components/PostComponent.vue'

export default {
  name: 'app',
  components: {
    PostComponent
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.logo {
  height: 80px;
  padding: 0 10px 0 10px;
  vertical-align: middle;
}
</style>
