.logo, .logo-label {
  font-size: 80px;
  height: 80px;
  padding: 0;
  vertical-align: middle;
}

.logo {
  padding: 0 10px 0 10px;
}

.first-letter-logo {
  padding: 0 0 0 10px;
}

.non-white-background {
  background: lightblue;
}

#webdriverio-io-logo {
  letter-spacing: -2px;
  background: #ea5906;
  border-radius: 10px;
  color: white;
  padding: 0 5px 0 3px;
}
