<template>
  <div class="container">
    <div class="create-post">
      <input type="text" id="create-post-input" v-model="text" placeholder="Create a post"><br>
      <button id="create-post-button" @click="createPost">Post!</button>
    </div>
    <hr>
    <p class="error" v-if="error">{{ error }}</p>
    <div class="posts-container">
      <div class="post" 
        v-for="(post, index) in posts" 
        :item="post"
        :index="index"
        :key="post._id"
        @dblclick="deletePost(post._id)"
      > 
        <p class="post-date">{{ `${post.createdAt.getDate()}/${post.createdAt.getMonth()}/${post.createdAt.getFullYear()}` }}</p>
        <p class="post-text">{{ post.text }}</p>
      </div>
    </div>
  </div>
</template>

<script>
import PostService from '@/PostService.js'

export default {
  name: 'PostComponent',
  created() {
    this.loadPosts()
  },
  data() {
    return {
      posts: [],
      error: '',
      text: ''
    }
  },
  methods: {
    async createPost() {
      await PostService.insertPost(this.text)
      this.text = ''
      this.loadPosts()
    },
    async deletePost(id) {
      await PostService.deletePost(id)
      this.loadPosts()
    },
    async loadPosts() {
      try {
        this.posts = await PostService.getPosts()
      } catch (err) {
        this.error = err.message
      }
    }
  }
}
</script>

<style scoped>
div.container {
  max-width: 800px;
  margin: 0 auto;
}

p.error {
  border: 1px solid #ff5b5f;
  background-color: #ffc5c1;
  padding: 10px;
  margin-bottom: 15px;
}

div.post {
  position: relative;
  border: 1px solid #5bd658;
  background-color: 3bcffb8;
  padding: 10px 10px 30px 10px;
  margin-bottom: 15px;
}

div.created-at {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 15px 5px 15px;
  background-color: darkgreen;
}

p.text {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 0;
}

input#create-post {
  width: 80%; 
}
</style>
